---
http_interactions:
- request:
    method: get
    uri: http://www.giantbomb.com/api/search/?api_key=f05ea4080e9d3bc733911000c50dbbc436d0a7a5&format=json&query=resident%20evil&resources=game
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 06-06-2016 09:01:22
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":100,"offset":0,"number_of_page_results":100,"number_of_total_results":108,"status_code":1,"results":[{"aliases":"REmake\r\nBiohazard\r\nResident
        Evil Archives: Resident Evil\r\nResident Evil HD Remaster\r\nBiohazard HD
        Remaster","api_detail_url":"http:\/\/www.giantbomb.com\/api\/game\/3030-27715\/","date_added":"2009-08-08
        09:55:33","date_last_updated":"2016-02-01 17:30:03","deck":"A remake of the
        first game in the pre-eminent video game horror series, featuring a graphics
        overhaul, as well as several new gameplay features, environments, and unlockable
        modes that weren''t included within the original version.","description":"<h2>Overview<\/h2><figure
        data-align=\"right\" data-img-src=\"http:\/\/static.giantbomb.com\/uploads\/original\/0\/6246\/302256-residentevil2.jpg\"
        data-ref-id=\"1300-302256\" data-size=\"small\" data-ratio=\"0.80902777777778\"
        data-width=\"320\" data-embed-type=\"image\" style=\"width: 320px\"><a class=\"fluid-height\"
        style=\"padding-bottom:80.9%\" href=\"http:\/\/static.giantbomb.com\/uploads\/original\/0\/6246\/302256-residentevil2.jpg\"
        data-ref-id=\"1300-302256\"><img src=\"http:\/\/static.giantbomb.com\/uploads\/scale_small\/0\/6246\/302256-residentevil2.jpg\"\/><\/a><figcaption>A
        screenshot taken from the original 1996 PS1 Resident Evil<\/figcaption><\/figure><p>Resident
        Evil is a remake of the original <a href=\"\/resident-evil\/3030-5842\" data-ref-id=\"3030-5842\">Resident
        Evil<\/a>, which was released primarily for the <a href=\"\/playstation\/3045-22\"
        data-ref-id=\"3045-22\">Sony PlayStation<\/a> in 1996. The game was rebuilt
        from the ground up to take advantage of the new technologies available on
        the GameCube at the time, featuring new and improved graphics, new gameplay
        elements, voice acting, script, in-game locations, and music. Shinji Mikami
        was quoted as stating that the remake is ''''70% different'''' than the original.<\/p><p>To
        account for the game''s size and quality, Resident Evil comes in 2 discs,
        with two thirds of the main game situated on the first disc, and the final
        third on the second.<\/p><figure data-align=\"left\" data-img-src=\"http:\/\/static.giantbomb.com\/uploads\/original\/1\/10354\/2354695-resident_evil_remake.jpg\"
        data-ref-id=\"1300-2354695\" data-size=\"small\" data-ratio=\"0.75\" data-width=\"320\"
        data-embed-type=\"image\" style=\"width: 320px\"><a class=\"fluid-height\"
        style=\"padding-bottom:75.0%\" href=\"http:\/\/static.giantbomb.com\/uploads\/original\/1\/10354\/2354695-resident_evil_remake.jpg\"
        data-ref-id=\"1300-2354695\"><img src=\"http:\/\/static.giantbomb.com\/uploads\/scale_small\/1\/10354\/2354695-resident_evil_remake.jpg\"\/><\/a><figcaption>A
        screenshot taken from the 2002 remake of the same corridor<\/figcaption><\/figure><p>While
        originally exclusive to the GameCube, Resident Evil was eventually ported
        to the Wii on June 23rd, 2009 as Resident Evil Archives: Resident Evil, which
        included the option to play with the Wii Remote and fitted the game onto one
        disc instead of across two.<\/p><p>In August 2014, Capcom announced an HD
        port of the Resident Evil GCN remake with a new control option for PS3, PS4,
        Xbox 360, Xbox One and PC.<\/p><h2>Gameplay<\/h2><h3>Overview &amp; Controls<\/h3><figure
        data-align=\"left\" data-img-src=\"http:\/\/static.giantbomb.com\/uploads\/original\/1\/12482\/264689-remake_jill3_lg.jpg\"
        data-ref-id=\"1300-264689\" data-size=\"small\" data-ratio=\"0.75\" data-width=\"320\"
        data-embed-type=\"image\" style=\"width: 320px\"><a class=\"fluid-height\"
        style=\"padding-bottom:75.0%\" href=\"http:\/\/static.giantbomb.com\/uploads\/original\/1\/12482\/264689-remake_jill3_lg.jpg\"
        data-ref-id=\"1300-264689\"><img class=\"js-lazy-load-image\" data-src=\"http:\/\/static.giantbomb.com\/uploads\/scale_small\/1\/12482\/264689-remake_jill3_lg.jpg\"
        src=\"data:image\/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==\"><noscript><img
        src=\"http:\/\/static.giantbomb.com\/uploads\/scale_small\/1\/12482\/264689-remake_jill3_lg.jpg\"\/><\/noscript><\/a><figcaption>Jill
        Valentine doing battle against a Hunter.<\/figcaption><\/figure><p>Resident
        Evil plays much like every other Resident Evil game pre-Resident Evil 4, mixing
        in third-person combat, exploration, and puzzles. Though like most survival
        horror titles, Resident Evil limits the player character''s capabilities beyond
        t[...]
