---
http_interactions:
- request:
    method: get
    uri: http://www.giantbomb.com/api/search/?api_key=f05ea4080e9d3bc733911000c50dbbc436d0a7a5&format=json&query=supercalifragilisticexpialodocious&resources=game
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 06-06-2016 08:58:31
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":100,"offset":0,"number_of_page_results":0,"number_of_total_results":0,"status_code":1,"results":[],"version":"1.0"}'
  recorded_at: Mon, 06 Jun 2016 15:53:31 GMT
recorded_with: VCR 3.0.3
