---
http_interactions:
- request:
    method: get
    uri: http://www.giantbomb.com/api/search/?api_key=f05ea4080e9d3bc733911000c50dbbc436d0a7a5&format=json&query=patch&resources=game
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Phoenix-Cache-Expires:
      - 06-06-2016 08:56:47
      X-Phoenix-Cached:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"error":"OK","limit":100,"offset":0,"number_of_page_results":11,"number_of_total_results":11,"status_code":1,"results":[{"aliases":null,"api_detail_url":"http:\/\/www.giantbomb.com\/api\/game\/3030-30653\/","date_added":"2010-04-09
        22:57:18","date_last_updated":"2010-04-09 22:57:18","deck":"In Dog Patch,
        two players on either side test their reflexes attempting to shoot a can tossed
        up in the middle of the screen.","description":null,"expected_release_day":null,"expected_release_month":null,"expected_release_quarter":null,"expected_release_year":null,"id":30653,"image":{"icon_url":"http:\/\/static.giantbomb.com\/uploads\/square_avatar\/3\/36186\/1323913-dogpatch.jpg","medium_url":"http:\/\/static.giantbomb.com\/uploads\/scale_medium\/3\/36186\/1323913-dogpatch.jpg","screen_url":"http:\/\/static.giantbomb.com\/uploads\/screen_medium\/3\/36186\/1323913-dogpatch.jpg","small_url":"http:\/\/static.giantbomb.com\/uploads\/scale_small\/3\/36186\/1323913-dogpatch.jpg","super_url":"http:\/\/static.giantbomb.com\/uploads\/scale_large\/3\/36186\/1323913-dogpatch.jpg","thumb_url":"http:\/\/static.giantbomb.com\/uploads\/scale_avatar\/3\/36186\/1323913-dogpatch.jpg","tiny_url":"http:\/\/static.giantbomb.com\/uploads\/square_mini\/3\/36186\/1323913-dogpatch.jpg"},"name":"Dog
        Patch","number_of_user_reviews":0,"original_game_rating":null,"original_release_date":null,"platforms":[{"api_detail_url":"http:\/\/www.giantbomb.com\/api\/platform\/3045-120\/","id":120,"name":"Bally
        Astrocade","site_detail_url":"http:\/\/www.giantbomb.com\/bally-astrocade\/3045-120\/","abbreviation":"BAST"}],"site_detail_url":"http:\/\/www.giantbomb.com\/dog-patch\/3030-30653\/","resource_type":"game"},{"aliases":null,"api_detail_url":"http:\/\/www.giantbomb.com\/api\/game\/3030-20490\/","date_added":"2008-05-15
        14:53:58","date_last_updated":"2011-05-18 13:41:17","deck":null,"description":null,"expected_release_day":null,"expected_release_month":null,"expected_release_quarter":null,"expected_release_year":null,"id":20490,"image":{"icon_url":"http:\/\/static.giantbomb.com\/uploads\/square_avatar\/0\/7900\/277467-cabbage_patch_kids.jpg","medium_url":"http:\/\/static.giantbomb.com[...]
