---
http_interactions:
- request:
    method: get
    uri: http://api.walmartlabs.com/v1/search?apiKey=wgw7hujqf79hk49n9f48knpw&categoryId=976759_1096070&query=%27patch%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-west-1c-65.mashery.com
    body:
      encoding: UTF-8
      string: '{"query":"''patch''","categoryId":"976759_1096070","sort":"relevance","responseGroup":"base","totalResults":19,"start":1,"numItems":10,"items":[{"itemId":15610752,"parentItemId":15610752,"name":"Sour
        Patch Kids Candy, 14 oz","salePrice":2.68,"upc":"070462500004","categoryPath":"Food/Candy
        & Gum/Gummy & Chewy","longDescription":"&lt;b&gt;Sour Patch Kids Candy:&lt;/b&gt;&lt;ul&gt;&lt;li&gt;Soft
        and chewy candy&lt;/li&gt;&lt;li&gt;Sour then sweet&lt;/li&gt;&lt;li&gt;Fat
        free&lt;/li&gt;&lt;/ul&gt;","thumbnailImage":"http://i5.walmartimages.com/dfw/dce07b8c-d541/k2-_ea5eb51f-729d-4263-92ea-0d04fbcf6eed.v1.jpg","mediumImage":"http://i5.walmartimages.com/dfw/dce07b8c-7e4b/k2-_8dd562c1-885e-4da6-8a5a-c4493849db15.v1.jpg","largeImage":"http://i5.walmartimages.com/dfw/dce07b8c-9812/k2-_10bde5cf-1e53-4b34-a12c-9e9c07918cd1.v1.jpg","productTrackingUrl":"http://linksynergy.walmart.com/fs-bin/click?id=|LSNID|&offerid=223073.7200&type=14&catid=8&subid=0&hid=7200&tmpid=1082&RD_PARM1=http%253A%252F%252Fwww.walmart.com%252Fip%252FSour-Patch-Soft-Chewy-Sour-Then-Sweet-Candy-Bags-14-oz%252F15610752%253Faffp1%253DQpq1LKOMSdT3kZ5tVJgkSvoY6O2_IqMvcg4S-g41KlQ%2526affilsrc%253Dapi","standardShipRate":4.97,"marketplace":false,"modelNumber":"0007046250000","productUrl":"http://c.affil.walmart.com/t/api02?l=http%3A%2F%2Fwww.walmart.com%2Fip%2FSour-Patch-Soft-Chewy-Sour-Then-Sweet-Candy-Bags-14-oz%2F15610752%3Faffp1%3DQpq1LKOMSdT3kZ5tVJgkSvoY6O2_IqMvcg4S-g41KlQ%26affilsrc%3Dapi%26veh%3Daff%26wmlspartner%3Dreadonlyapi","customerRating":"4.667","numReviews":5,"customerRatingImage":"http://i2.walmartimages.com/i/CustRating/4_7.gif","categoryNode":"976759_1096070_1224975","bundle":false,"stock":"Available","addToCartUrl":"http://c.affil.walmart.com/t/api02?l=http%3A%2F%2Faffil.walmart.com%2Fcart%2FaddToCart%3Fitems%3D15610752%7C1%26affp1%3DQpq1LKOMSdT3kZ5tVJgkSvoY6O2_IqMvcg4S-g41KlQ%26affilsrc%3Dapi%26veh%3Daff%26wmlspartner%3Dreadonlyapi","affiliateAddToCartUrl":"http://linksynergy.walmart.com/fs-bin/click?id=|LSNID|&offerid=223073.7200&type=14&catid=8&subid=0&hid=7200&tmpid=1082&RD_PARM1=http%253A%252F%252Faffil.walmart.com%252Fcart%252FaddToCart%253Fitems%253D15610752%257C1%2526affp1%253DQpq1LKOMSdT3kZ5tVJgkSvoY6O2_IqMvcg4S-g41KlQ%2526affilsrc%253Dapi","giftOptions":{"allowGiftWrap":false,"allowGiftMessage":false,"allowGiftReceipt":false},"imageEntities":[{"thumbnailImage":"http://i5.walmartimages.com/dfw/dce07b8c-d541/k2-_ea5eb51f-729d-4263-92ea-0d04fbcf6eed.v1.jpg","mediumImage":"http://i5.walmartimages.com/dfw/dce07b8c-7e4b/k2-_8dd562c1-885e-4da6-8a5a-c4493849db15.v1.jpg","largeImage":"http://i5.walmartimages.com/dfw/dce07b8c-9812/k2-_10bde5cf-1e53-4b34-a12c-9e9c07918cd1.v1.jpg","entityType":"PRIMARY"},{"thumbnailImage":"http://i5.walmartimages.com/dfw/dce07b8c-2c77/k2-_2faa392c-23b3-41fb-bc85-43e980661370.v1.jpg","mediumImage":"http://i5.walmartimages.com/dfw/dce07b8c-536d/k2-_7f9dc2aa-774c-46b1-9b7d-5b7ae41c86fa.v1.jpg","largeImage":"http://i5.walmartimages.com/dfw/dce07b8c-a455/k2-_eabb88e8-9cdd-4e12-b341-9e4024ea7c0a.v1.jpg","entityType":"SECONDARY"},{"thumbnailImage":"http://i5.walmartimages.com/dfw/dce07b8c-6558/k2-_1a3642d4-de7a-402c-9c2a-10621e80bd97.v1.jpg","mediumImage":"http://i5.walmartimages.com/dfw/dce07b8c-d179/k2-_78cb074a-03d6-4601-8a8f-3d67ce469fbe.v1.jpg","largeImage":"http://i5.walmartimages.com/dfw/dce07b8c-cfed/k2-_efad062c-ac5a-4787-8f1a-17fc1ea002ca.v1.jpg","entityType":"SECONDARY"},{"thumbnailImage":"http://i5.walmartimages.com/dfw/dce07b8c-c5aa/k2-_c766c9e4-99ec-4785-88e4-e2cae3476bf1.v1.jpg","mediumImage":"http://i5.walmartimages.com/dfw/dce07b8c-1c07/k2-_11daa2bb-35c8-411e-a15d-8705aff81b53.v1.jpg","largeImage":"http://i5.walmartimages.com/dfw/dce07b8c-4d21/k2-_cc465f6c-4804-41d7-a77e-b12ac7a0b089.v1.jpg","entityType":"SECONDARY"},{"thumbnailImage":"http://i5.walmartimages.com/dfw/dce07b8c-c651/k2-_5d4f59b4-70d7-4c45-9342-486b1d2ea403.v1.jpg","mediumImage":"http://i5.walmartimages.com/dfw/dce07b8c-b1fb/k2-_ca4aa41d-7e45-4981-81c2-755affca61d4.v1.jpg","largeImage":"http://i5.walmartimages.com/dfw/dce07b8c-c65e/k2-_332d1e25-4c58-4d9d-b149-aad1a54d0c89.v1.jpg","entityType":"SECONDARY"}],"availableOnline":true},{"itemId":36257275,"parentItemId":36257275,"name":"Sour
        Patch Kids Theater Box: 12 Count","salePrice":17.95,"upc":"56OERADt2261","categoryPath":"Food/Candy
        & Gum/Gummy & Chewy","longDescription":"Sour Patch Kids... Sour. Sweet. Gone.Sour
        Patch Kids Theater Box Specifications Boxes per Shipment: 12Weight per Box:
        3.5 ouncesWeight per Shipment: 2.7 poundsTotal Shipment Weight: Approximately
        3.7 pounds","thumbnailImage":"http://i5.walmartimages.com/dfw/dce07b8c-f036/k2-_e5bb824b-e3ec-41b9-9a4f-b9e5c7d8a116.v1.jpg","mediumImage":"http://i5.walmartimages.com/dfw/dce07b8c-8ff1/k2-_88304d95-6e39-4ba3-b17f-17add39f8ffa.v1.jpg","largeImage":"http://i5.walmartimages.com/dfw/dce07b8c-374e/k2-_d8f81315-d5c7-41f3-aeb2-8a0cad56c52a.v1.jpg","productTrackingUrl":"http://linksynergy.walmart.com/fs-bin/click?id=|LSNID|&offerid=223073.7200&type=14&catid=8&subid=0&hid=7200&tmpid=1082&RD_PARM1=http%253A%252F%252Fwww.walmart.com%252Fip%252FSour-Patch-Kids-Theater-Box-12-Count%252F36257275%253Faffp1%253DQpq1LKOMSdT3kZ5tVJgkSvoY6O2_IqMvcg4S-g41KlQ%2526affilsrc%253Dapi","standardShipRate":7.72,"marketplace":true,"sellerInfo":"Candy","productUrl":"http://c.affil.walmart.com/t/api02?l=http%3A%2F%2Fwww.walmart.com%2Fip%2FSour-Patch-Kids-Theater-Box-12-Count%2F36257275%3Faffp1%3DQpq1LKOMSdT3kZ5tVJgkSvoY6O2_IqMvcg4S-g41KlQ%26affilsrc%3Dapi%26veh%3Daff%26wmlspartner%3Dreadonlyapi","categoryNode":"976759_1096070_1224975","bundle":false,"stock":"Available","addToCartUrl":"http://c.affil.walmart.com/t/api02?l=http%3A%2F%2Faffil.walmart.com%2Fcart%2FaddToCart%3Fitems%3D36257275%7C1%26affp1%3DQpq1LKOMSdT3kZ5tVJgkSvoY6O2_IqMvcg4S-g41KlQ%26affilsrc%3Dapi%26veh%3Daff%26wmlspartner%3Dreadonlyapi","affiliateAddToCartUrl":"http://linksynergy.walmart.com/fs-bin/click?id=|LSNID|&offerid=223073.7200&type=14&catid=8&subid=0&hid=7200&tmpid=1082&RD_PARM1=http%253A%252F%252Faffil.walmart.com%252Fcart%252FaddToCart%253Fitems%253D36257275%257C1%2526affp1%253DQpq1LKOMSdT3kZ5tVJgkSvoY6O2_IqMvcg4S-g41KlQ%2526affilsrc%253Dapi","freeShippingOver50Dollars":false,"giftOptions":{"allowGiftWrap":false,"allowGiftMessage":false,"allowGiftReceipt":false},"imageEntities":[{"thumbnailImage":"http://i5.walmartimages.com/dfw/dce07b8c-f036/k2-_e5bb824b-e3ec-41b9-9a4f-b9e5c7d8a116.v1.jpg","mediumImage":"http://i5.walmartimages.com/dfw/dce07b8c-8ff1/k2-_88304d95-6e39-4ba3-b17f-17add39f8ffa.v1.jpg","largeImage":"http://i5.walmartimages.com/dfw/dce07b8c-374e/k2-_d8f81315-d5c7-41f3-aeb2-8a0cad56c52a.v1.jpg","entityType":"PRIMARY"}],"availableOnline":true},{"itemId":10308497,"parentItemId":10308497,"name":"Sour
        Patch Kids Candy, 1.9 lbs","msrp":4.98,"salePrice":4.7,"upc":"070462433098","categoryPath":"Food/Candy
        & Gum/Gummy & Chewy","longDescription":"&lt;b&gt;Sour Patch Kids Candy:&lt;/b&gt;&lt;ul&gt;&lt;li&gt;Soft
        and chewy candy&lt;/li&gt;&lt;li&gt;Soft and chewy candy&lt;/li&gt;&lt;li&gt;Fat
        free&lt;/li&gt;&lt;li&gt;Great for sharing&lt;/li&gt;&lt;li&gt;Resealable
        bag&lt;/li&gt;&lt;/ul&gt;","thumbnailImage":"http://i5.walmartimages.com/dfw/dce07b8c-83be/k2-_1b97107c-5d9a-4b75-9f4e-e6c9c858384a.v1.jpg[...]
