
<%= form_tag(root_path, method: :get) do %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search" %>
<% end %>

<% if params[:query] %>
  You should check these out!
<% end %>

<div class="combos">
  <div class="combo-item">
    <h2>Cartoon</h2>
    <img src="">
  </div>
  <div class="combo-item">
    <h2>Candy</h2>
    <img src="">
  </div>
  <div class="combo-item">
    <h2>Video Game</h2>
    <img src="">
  </div>
</div>
