---
http_interactions:
- request:
    method: get
    uri: http://api.walmartlabs.com/v1/search?apiKey=wgw7hujqf79hk49n9f48knpw&categoryId=4096_616859_617000&query=supercalifragilisticexpialodocious
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-56.mashery.com
    body:
      encoding: UTF-8
      string: '{"query":"supercalifragilisticexpialodocious","categoryId":"4096_616859_617000","sort":"relevance","responseGroup":"base","totalResults":0,"start":1,"numItems":0,"message":"Results
        not found!","facets":[]}'
  recorded_at: Mon, 06 Jun 2016 03:02:35 GMT
recorded_with: VCR 3.0.3
