---
http_interactions:
- request:
    method: get
    uri: http://api.walmartlabs.com/v1/search?apiKey=wgw7hujqf79hk49n9f48knpw&categoryId=4096_616859_617000&query=patch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-60.mashery.com
    body:
      encoding: UTF-8
      string: '{"query":"patch","categoryId":"4096_616859_617000","sort":"relevance","responseGroup":"base","totalResults":1,"start":1,"numItems":1,"items":[{"itemId":44390896,"parentItemId":44390896,"name":"101
        Dalmatians II: Patch''s London Adventure (Blu-ray + DVD + Digital HD) (Widescreen)","msrp":19.99,"salePrice":14.87,"upc":"786936843804","categoryPath":"Movies
        & TV/Blu-ray/Anime & Animation","longDescription":"Everyone''s favorite pups
        are pack as Disney''s animated classic continues - now more exciting than
        ever for the first time on Blu-ray and digital HD! Feisty little Patch feels
        almost invisible alongside Lucky, Rolly and the other puppies, so he cleverly
        figures out how to make his mark. Inspired by his TV hero, Patch bravely leads
        the charge when cold-hearted Cruella De Vil and spot-obsessed artist Lars
        plot to round up all the Dalmatians in London. As Patch and Thunderbolt embark
        on a quest to save the dogs from Cruella, they discover their inner strengths
        and prove once and for all that Thunderbolt is a real-life hero and Patch
        is a true &quot;One-Of-A-Kind Wonder Dog!&quot; Bring your family together
        for all the friendship, fun and thrilling adventures in &quot;101 Dalmatians
        II: Patch''s London Adventure&quot;.&lt;br&gt;&lt;br&gt; Behind-The-Scenes
        &quot;Dog-Umentary&quot;; &quot;You''re The One&quot; - Music Video.&lt;br&gt;&lt;br&gt;
        Languages: English, Spanish, French; Subtitles: English SDH (Subtitles for
        Deaf and Hearing Impaired), Spanish, French .","thumbnailImage":"http://i5.walmartimages.com/dfw/dce07b8c-2670/k2-_f54d55e3-4ce2-4feb-a531-60a4adf92ee9.v5.jpg","mediumImage":"http://i5.walmartimages.com/dfw/dce07b8c-842b/k2-_38bdefc4-d21f-4e4f-9c87-f66046f0b7b1.v5.jpg","largeImage":"http://i5.walmartimages.com/dfw/dce07b8c-6d38/k2-_cd910537-ced9-4eb4-876b-f5ca182a7bd3.v5.jpg","productTrackingUrl":"http://linksynergy.walmart.com/fs-bin/click?id=|LSNID|&offerid=223073.7200&type=14&catid=8&subid=0&hid=7200&tmpid=1082&RD_PARM1=http%253A%252F%252Fwww.walmart.com%252Fip%252F44390896%253Faffp1%253DQpq1LKOMSdT3kZ5tVJgkSvoY6O2_IqMvcg4S-g41KlQ%2526affilsrc%253Dapi","standardShipRate":4.97,"marketplace":false,"productUrl":"http://c.affil.walmart.com/t/api02?l=http%3A%2F%2Fwww.walmart.com%2Fip%2F44390896%3Faffp1%3DQpq1LKOMSdT3kZ5tVJgkSvoY6O2_IqMvcg4S-g41KlQ%26affilsrc%3Dapi%26veh%3Daff%26wmlspartner%3Dreadonlyapi","categoryNode":"4096_616859_617000","bundle":false,"stock":"Available","addToCartUrl":"http://c.affil.walmart.com/t/api02?l=http%3A%2F%2Faffil.walmart.com%2Fcart%2FaddToCart%3Fitems%3D44390896%7C1%26affp1%3DQpq1LKOMSdT3kZ5tVJgkSvoY6O2_IqMvcg4S-g41KlQ%26affilsrc%3Dapi%26veh%3Daff%26wmlspartner%3Dreadonlyapi","affiliateAddToCartUrl":"http://linksynergy.walmart.com/fs-bin/click?id=|LSNID|&offerid=223073.7200&type=14&catid=8&subid=0&hid=7200&tmpid=1082&RD_PARM1=http%253A%252F%252Faffil.walmart.com%252Fcart%252FaddToCart%253Fitems%253D44390896%257C1%2526affp1%253DQpq1LKOMSdT3kZ5tVJgkSvoY6O2_IqMvcg4S-g41KlQ%2526affilsrc%253Dapi","giftOptions":{"allowGiftWrap":true,"allowGiftMessage":true,"allowGiftReceipt":true},"imageEntities":[{"thumbnailImage":"http://i5.walmartimages.com/dfw/dce07b8c-2670/k2-_f54d55e3-4ce2-4feb-a531-60a4adf92ee9.v5.jpg","mediumImage":"http://i5.walmartimages.com/dfw/dce07b8c-842b/k2-_38bdefc4-d21f-4e4f-9c87-f66046f0b7b1.v5.jpg","largeImage":"http://i5.walmartimages.com/dfw/dce07b8c-6d38/k2-_cd910537-ced9-4eb4-876b-f5ca182a7bd3.v5.jpg","entityType":"PRIMARY"}],"availableOnline":true}],"facets":[]}'
  recorded_at: Mon, 06 Jun 2016 03:02:34 GMT
recorded_with: VCR 3.0.3
